<app-nav-bar></app-nav-bar>
<div class="container" class="view-restaurant">
  <div class="container" style="margin:10px;">
  <input class="form-control" style="margin-bottom:8px;" #restaurant list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
  <button class="btn btn-success">Search</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">
      We found these Mess for you...
    </li>
    <li class="list-group-item" *ngFor="let res of RestaurantInfo.Restaurants">
      <div class="card">
        <div class="card-header">{{res.RestaurantName}}</div>
        <div class="container" style="margin: 15px">
          <div>
           <img src="../../assets/diet.png" width="25px;" alt="Food image" />
            <p>Today's menu : {{res.TodaysMenu}}</p>
          </div>
          <span
           class="badge rounded-pill bg-info text-dark"
            placement="right"
            ngbPopover="Owner Name : {{res.OwnerName}}
                        Address : {{res.Address}}
                        Mobile Number : {{res.MobileNumber}}"
            popoverTitle="Restaurants Details"
          >
            More Details
        </span>
        </div>
      </div>
    </li>
  </ul>
  </div>


