<app-nav-bar></app-nav-bar>
<div class="container" class="view-restaurant">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">
      We found these Mess for you...
    </li>
    <li class="list-group-item">
      <div class="card">
        <div class="card-header">Restaurant Name</div>
        <div class="container" style="margin: 15px">
          <div>
            <fa-icon [icon]="faBowlFood"></fa-icon>
            <p>Today's menu</p>
          </div>
          <span
           class="badge rounded-pill bg-info text-dark"
            placement="top"
            ngbPopover="Angular ng bootstrap"
            popoverTitle="GeeksforGeeks"
          >
            More Details
        </span>
        </div>
      </div>
    </li>
  </ul>
  </div>


